/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira sans', sans-serif;
}

body {
    background-color: #000f1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

p {
    padding-top: 10px;
}

h2 {
    padding-top: 20px;
}

a {
    color: white;
}

form {
    vertical-align: center;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #440168, #9d5de6);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    z-index: 100;
}

form h1 {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.err-msg {
    padding: 10px 15px;
    background-image: linear-gradient(to right, #FB8085 10%, #F9C1B1);
    border-radius: 8px;
    margin-bottom: 15px;
    color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .form-group {
    margin-bottom: 30px;
}

form label {
    display: block;
    color: #eee;
    font-size: 14px;
    margin-bottom: 5px;
}

form input {
    appearance: none;
    background: none;
    outline: none;
    border: none
}

form input:not([type="submit"]) {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

form input:not([type="submit"])::placeholder {
    color: #CCC
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
    background-color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: 0.4s;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.seperateForms {
    padding: 15px
} */
